* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding and border included in render of element */
}

.container {
    height: 100vh; /* prevents addition of another scroll bar */
    scroll-snap-type: y mandatory; /* adds a vertical scroll snap, mandatory means must be on one page at a time */
    overflow-y: scroll;
}

.page {
    min-height: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.title {
    font-size: 500%;
    font-weight: bold;
    background: rgba(104, 195, 255, 0.1);
    padding: 10px 30px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
/* MAIN PAGE CODE */
.main {
    background: white;
}

.main #name {
    font-size: 500%;
    font-weight: bold;
    padding: 5px;
    display: block;
}

.box {
    background: red;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.main #title {
    font-size: x-large;
    font-weight: bold;

    animation-name: roll;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main span {
    opacity: 0;
    transition: all 1s ease-out;
}

.main span.fade {
    opacity: 1;
}

/* Shows title for 0.8 * time, then performs rolling animation for the rest */
@keyframes roll {
    0% {
        transform: translate(0, 80%) rotateX(-90deg);
        opacity: 0;
    }
    /* Spend most of the time displaying normally */
    20% {
        transform: translate(0, 0) rotateX(0deg);
        opacity: 1;
    }
    80% {
        transform: translate(0, 0) rotateX(0deg);
        opacity: 1;
    }

    100% {
        transform: translate(0, -80%) rotateX(90deg);
        opacity: 0;
    }
}

/* ABOUT PAGE CODE */
.about {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* For Internet explorer, Edge */
    color: white;
    background: linear-gradient(180deg, lightskyblue 0%, rgb(139, 147, 255) 100%);
}

.about::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}

.about .title-container {
    background: rgba(104, 195, 255, 0.1);
    padding: 10px 30px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.about .title {
    font-size: 500%;
    text-align: center;
}

.card-container {
    width: 100%;
    display: flex; /** by default a row flex */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    min-width: 200px;
    max-width: 300px;

    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 20px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

@media (hover: hover) {
    .about-card {
        opacity: 0.5;
    }

    .about-card:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.about-card h3 {
    font-size: 175%;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.about-card p {
    font-family: Arial, sans-serif;
    font-size: 105%;
    font-weight: normal;
    padding-bottom: 15px;
}

/* badges holds badge containers */
.badge-column-container {
    display: flex;
    height: 100%;
}

.badge-column {
    height: 100%;
    justify-content: space-evenly;
}

.badge {
    background: rgba(255, 165, 0, 1);
    padding: 5px 8px; /* vertical, horizontal */
    margin: 5px;
    border-radius: 5px;
    width: 120px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.badge .badge-content {
    color: white;
    font-weight: bold;
}

#swiftui {
    background: linear-gradient(90deg, rgba(16,75,216,1) 0%, rgba(0,244,247,1) 100%);
}

#swift {
    background: linear-gradient(90deg, rgba(254,74,43,1) 0%, rgba(251,175,64,1) 100%);
}

#java {
    background: rgba(254,74,43,1);
}

#javaswing {
    background: crimson;
}

#python {
    background: rgba(52,108,153,1);
}

#c {
    background: rgba(0,89,156,1);
}

#uiux {
    background: linear-gradient(90deg, rgba(35,95,139,1) 0%, rgba(254,74,43,1) 100%);;
}

#coredata {
    background: linear-gradient(90deg, rgba(0,74,124,1) 0%, rgba(40,135,206,1) 100%);;
}

#sql {
    background: linear-gradient(90deg, rgba(0,97,138,1) 0%, rgba(228,142,0,1) 100%);;
}

#html {
    background: linear-gradient(90deg, rgba(228,77,38,1) 0%, rgba(241,101,41,1) 100%);;
}

#css {
    background: linear-gradient(90deg, rgba(1,112,186,1) 0%, rgba(41,169,223,1) 100%);;
}

#javascript {
    background: rgba(247,223,30,1);
}

/* PROJECTS PAGE CODE */
.projects {
    background: linear-gradient(135deg, #d93152, #c74861);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* For Internet explorer, Edge */
}

.projects::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display: none;
}

.project {
    background: rgba(104, 195, 255, 0.1);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: end;

    padding: 10px 30px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.project img {
    width: 100px;
    height: 100px;
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.project .left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    max-width: 80%;
}

.description-container {
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding: 20px;
}

.button-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project p {
    padding-top: 5px;
}

.button-container button {
    border: none;
    padding: 1rem 2rem;
    margin: 5px;

    border-radius: 20px;
    background: rgba(0, 0, 0, 0.33);
    color: #ffffff;
    width: 150px;

    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button-container button:hover, .button-container button:focus {
    background: rgba(0, 0, 0, 0.51);
}

.button-container button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button-container button:active {
    transform: scale(0.99);
}

/* CONTACT PAGE CODE */
.contact-me {
    background: linear-gradient(45deg, #5ba45b, #76c476);
    display: flex;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* For Internet explorer, Edge */
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding: 30px 40px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-type {
    font-weight: bold;
    font-size: medium;
}

.contact h2 {
    font-size: medium;
}

.address a {
    font-size: medium;
    color: white;
}

.address a:visited {
    font-size: medium;
    color: white;
}
