* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding and border included in render of element */
}

.container {
    height: 100vh; /* prevents addition of another scroll bar */
    scroll-snap-type: y mandatory; /* adds a vertical scroll snap, mandatory means always snaps even on tiny scroll */
    overflow-y: scroll;
}

section {
    height: 100vh; /* take up all vertical height available */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* we can adjust the size of these sections by adding height: (n) vh */
.main {
    background: white;
}

.main #name {
    font-size: 500%;
    padding: 5px;
    display: block;
}

.box {
    background: red;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.main #title {
    animation-name: roll;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.about {
    background: #59c3ff;
    justify-content: left;
    align-items: start;
    padding: 30px;
}

.about .title-container {
    background: #68c3ff; /* lightskyblue but with more whiteness */
    padding: 10px 30px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset,
    0 0 20px rgba(0, 0, 0, 0.55); /* Final shadow not part of effect, just drop shadow */
}

.about h2 {
    font-size: 500%;
    text-align: left;
}

.card-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #94d2ff;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 33%;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset,
    0 0 20px rgba(0, 0, 0, 0.55);
}

.card h3 {
    font-size: 300%;
    padding-bottom: 20px;
}

.card h4 {
    font-size: 110%;
}

/* badges holds badge containers */
.badges {
    display: inline-flex;
    height: 100%;
}

.badge-container {
    height: 100%;
    justify-content: space-evenly;
}

.badge {
    color: white;
    font-weight: normal;
    background: orange;
    padding: 5px 8px; /* vertical, horizontal */
    margin: 5px;
    border-radius: 5px;
    width: 120px;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset,
    0 0 5px rgba(0, 0, 0, 0.35);
}

#swiftui {
    background: linear-gradient(90deg, rgba(16,75,216,1) 0%, rgba(0,244,247,1) 100%);
}

#swift {
    background: linear-gradient(90deg, rgba(254,74,43,1) 0%, rgba(251,175,64,1) 100%);
}

#java {
    background: rgba(254,74,43,1);
}

#javaswing {
    background: crimson;
}

#python {
    background: rgba(52,108,153,1);
}

#c {
    background: rgba(0,89,156,1);
}

#uiux {
    background: linear-gradient(90deg, rgba(35,95,139,1) 0%, rgba(254,74,43,1) 100%);;
}

#coredata {
    background: linear-gradient(90deg, rgba(0,74,124,1) 0%, rgba(40,135,206,1) 100%);;
}

#sql {
    background: linear-gradient(90deg, rgba(0,97,138,1) 0%, rgba(228,142,0,1) 100%);;
}

#html {
    background: linear-gradient(90deg, rgba(228,77,38,1) 0%, rgba(241,101,41,1) 100%);;
}

#css {
    background: linear-gradient(90deg, rgba(1,112,186,1) 0%, rgba(41,169,223,1) 100%);;
}

#javascript {
    color: black;
    background: rgba(247,223,30,1);
}

.projects {
    background: lightcyan;
}

.contact {
    background: lightgreen;
}

.main span {
    opacity: 0;
    transition: all 1s ease-out;
}

.main span.fade {
    opacity: 1;
}

/* Shows title for 0.8 * time, then performs rolling animation for the rest */
@keyframes roll {
    0% {
        transform: translate(0, 80%) rotateX(-90deg) ;
    }
    /* Spend most of the time displaying normally */
    20% {
        transform: translate(0, 0) rotateX(0deg);
    }
    80% {
        transform: translate(0, 0) rotateX(0deg);
    }

    100% {
        transform: translate(0, -80%) rotateX(90deg);
    }
}








