/* ABOUT SECTION */
.about {
  min-height: 80vh;
  background: #202020;
  overflow: auto;
}

.about .about-text {
  margin: 50px auto;
  max-width: 70%;
  color: #e9e1dd;
}

.about .about-title {
  margin: 80px 0 0 0;
  font-size: 120px;
  color: #e9e1dd;
  transition: 0.5s;
}

@media (hover: hover) {
  .about-title:hover {
    transform: scale(1.1);
  }
}

.about .about-body {
  font-size: 57px;
  color: #b3a8a8;
}
