/*
This CSS file contains all the style for our inputs on the contact page.
*/
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 50px;
  color: #e9e1dd;
}

.send-email h4 {
  margin: 0 auto;
  color: #e9e1dd;
}
