/*
This style sheet defines the styles used in the education section.
Consider using media-queries and CSS Grid

Pros:
- Can make it so we have 1x4, 2x2, 4x1 card arrangement
(currently can have 3x1 and 1x1 stacked vertically which looks ugly, but only shows on iPad Pro 12.9in)

Cons:
- Will have to change if we ever add more unit cards

*/
.unit-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.unit-card {
  width: 290px;
  height: 300px;
  text-align: center;
  background: #e9e1dd;
  border-radius: 15px;
  margin-bottom: 60px;
  position: relative;
}

.unit-card a {
  text-decoration: none;
  color: black;
}

.unit-card a:hover {
  text-decoration: underline;
  color: black;
}

.unit-card h4 {
  margin: 10px;
  color: #000000;
}

.unit-card p {
  margin: 15px;
  color: black;
  text-align: left;
}

.unit-card footer {
  position: absolute;
  bottom: 5px;
  left: 35%; /* THIS ISNT WORKING */
}
