/* PROJECTS SECTION */
.projects .showcase {
  width: 80%;
  margin: auto;
}

/* MOBILE / SMALL SCREEN */
@media only screen and (max-width: 600px) {
  .about {
    margin: 150px auto;
  }

  .about-text {
    width: 70%;
  }

  .about-body {
    font-size: 5vw;
  }
}

/* DESKTOP / TABLET / LARGER SCREEN */
@media only screen and (min-width: 601px) {
  .about {
    margin: 150px auto;
  }

  .about-text {
    width: 70%;
  }

  .about-body {
    font-size: 5vw;
  }
}

.projects .showcase .showcase-item {
  color: #e9e1dd;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
}

.projects .showcase .showcase-item img {
  height: 500px;
  object-fit: contain;
  max-width: 24%;
  border-radius: 15px;
  margin: 0 20px;
}

.showcase .right-aligned {
  text-align: right;
}

/* Tool Badges */
.tool {
  padding: 10px;
  margin: 20px 20px;
  border-radius: 10px;
  display: inline-block;
}
