/* PROJECTS SECTION */
.projects .showcase {
  width: 80%;
  margin: auto;
}

/* Create a background to each project */
.project-card {
  width: 90%;
  border-radius: 15px;
  background: #353535;
  padding: 20px 20px 10px 20px;
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
}

.project-card .project-title,
.project-card .project-desc-short {
  width: 80%;
}

.project-card .project-desc-short {
  margin: 5px 0 12px 0;
}
