/* PROJECTS SECTION */
.projects .showcase {
  width: 80%;
  margin: auto;
}

/* Create a background to each project */
.project-card {
  width: 90%;
  border-radius: 15px;
  background: #353535;
  padding: 20px 20px 10px 20px;
  margin: 20px 0;
}

/* Tool Badges */
.tool {
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  display: inline-block;
}
