* {
  font-family: Arial, Helvetica, sans-serif;
}

/*
section-title: 7em
h1: 5em
h2: 4em
h3: 3em
h4: 2em
h5, h6: 1em
*/
.section-title,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #e9e1dd;
}

.section-title {
  font-size: 12vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h2 {
  font-size: 4em;
  font-weight: bold;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

.home-header {
  color: black;
}

/* MOBILE / SMALL SCREEN */
@media only screen and (max-width: 750px) {
  .project-title {
    font-size: 4vw;
  }
}

/* DESKTOP / TABLET / LARGER SCREEN */
@media only screen and (min-width: 751px) {
  .project-title {
    font-size: 3vw;
  }
}

#want-to-see-more {
  font-size: 11vw;
}
