* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border included in width/height calc of element */
}

.App {
  height: 100vh;
}

.home {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content {
  width: fit-content;
}

.home-content h1 {
  font-size: 500%;
  font-weight: bold;
}

.title-box h3 {
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  color: black;

  animation-name: roll;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.title-box {
  background: red;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

/* Shows title for 0.8 * time, then performs rolling animation for the rest */
@keyframes roll {
  0% {
    transform: translate(0, 80%) rotateX(-90deg);
    opacity: 0;
  }
  /* Spend most of the time displaying normally */
  20% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 1;
  }
  80% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 1;
  }

  100% {
    transform: translate(0, -80%) rotateX(90deg);
    opacity: 0;
  }
}
